@charset "UTF-8";
@import url("reset.css");

#header {
    width: 100%;
    height: 80px;
    background: transparent;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    z-index: 999;
}
.wrap {
    width: calc(100% - 120px);
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .wrap h1 {
}
#header .wrap h1 a {
}
#header .wrap h1 a img {
}
#header .wrap .pc_nav {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#header .wrap .pc_nav .gnb {
    display: flex;
    height: 100%;
}
#header .wrap .pc_nav .gnb > li {
    padding: 0 45px;
    font-size: 18px;
    font-weight: 700;
}
#header .wrap .pc_nav .gnb > li .depth01 {
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    align-items: center;
    transition: 0.3s;
}
#header .wrap .pc_nav .gnb > li .depth01::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: #0067ff; 
}
#header .wrap .pc_nav .gnb > li.on .depth01 {
    color: #0067ff;
}
#header .wrap .pc_nav .gnb > li.on .depth01::before {
    animation: line 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes line {
    0% {
        width: 0%;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}
#header .wrap .pc_nav .gnb > li .depth02 {
    position: absolute;
    bottom: -90px;
    visibility: hidden;
    transition: 0.3s;
    opacity: 0;
}
#header .wrap .pc_nav .gnb > li:hover .depth02 {
    visibility: visible;
    opacity: 1;
}
#header .wrap .pc_nav .gnb > li .depth02 > li {
    padding: 15px 0;
}
#header .wrap .pc_nav .gnb > li .depth02 > li a {
}
#header .wrap .pc_nav .gnb > li .depth02 > li:hover a {
    border-bottom: 2px solid #0067ff;
}
#header .wrap .util {
}
#header .wrap .util .open {
    cursor: pointer;
}
#header .wrap .util .open img {
    width: 100%;
}
#header .wrap .util .mob_nav {
    width: 40vw;
    min-width: 500px;
    height: 100vh;
    z-index: 99;
    position: absolute;
    top: 0;
    right: -60px;
    visibility: hidden;
    transform: translateY(-100%);
    transition: 0.5s;
    background-color: #0067ff;
    overflow-y: scroll;
}
#header .wrap .util .mob_nav.on {
    visibility: visible;
    transform: translateY(0%);
}
#header .wrap .util .mob_nav .close {
    width: 35px;
    position: absolute;
    top: 60px;
    right: 60px;
}
#header .wrap .util .mob_nav .close img {
    width: 100%;
}
#header .wrap .util .mob_nav .gnb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 60px;
}
#header .wrap .util .mob_nav .gnb > li {
    padding: 30px 0;
    color: #fafafa;
    font-size: 42px;
}
#header .wrap .util .mob_nav .gnb > li.on > a {
    border-bottom: 1px solid #fafafa;
}
#header .wrap .util .mob_nav .gnb > li a {
}
#header .wrap .util .mob_nav .gnb > li .depth02 {
    visibility: hidden;
    height: 0;
    margin: 0;
}
#header .wrap .util .mob_nav .gnb > li .depth02.on {
    visibility: visible;
    height: auto;
    animation: drop 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
#header .wrap .util .mob_nav .gnb > li .depth02 > li {
    padding: 10px 7px;
}
#header .wrap .util .mob_nav .gnb > li .depth02 > li a {
    font-size: 24px;
}
@keyframes drop {
    0% {
        height: 0%;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        height: auto;
        opacity: 1;
        margin-top: 30px;
    }
}
/* 푸터 */
#footer {background-color: #0f0c0c; padding: 60px 0;}
#footer .wrap {display: flex; align-items: unset;}
#footer .wrap > div {width: calc(100%/2);}
#footer .wrap .left {}
#footer .wrap .left .top {display: flex; column-gap: 35px; margin-bottom: 30px;}
#footer .wrap .left .top a {font-size: 17px; color: #fafafa;}
#footer .wrap .left ul {display: flex; flex-direction: column; row-gap: 10px;}
#footer .wrap .left ul li {color: #a6a6a6; display: flex;}
#footer .wrap .left ul li p {min-width: 60px; margin-right: 35px;}
#footer .wrap .left ul li a {}
#footer .wrap .right {display: flex; flex-direction: column; align-items: flex-end; justify-content: space-between;}
#footer .wrap .right ul {display: flex; align-items: center; column-gap: 25px;}
#footer .wrap .right ul li {}
#footer .wrap .right ul li a {display: flex;}
#footer .wrap .right ul li a img {}

/* 반응형 20261020 */
@media all and (max-width: 1200px) {
    #header .wrap .pc_nav .gnb > li {
        font-size: 16px;
        padding: 0 30px;
    }
}
@media all and (max-width: 1024px) {
    #header .wrap .pc_nav {
        display: none;
    }
}
@media all and (max-width: 960px) {
    .wrap {
        width: calc(100% - 60px);
    }
    #header {
        height: 70px;
    }
    #header .wrap .util .mob_nav {
        right: -30px;
    }
}
@media all and (max-width: 650px) {
    #header .wrap .util .mob_nav .gnb > li {
        font-size: 34px;
        padding: 25px 0;
    }
    #header .wrap .util .mob_nav .gnb > li .depth02 > li a{
        font-size: 20px;
    }
    #header .wrap .util .mob_nav {
        min-width: 400px;
    }
    #header .wrap .util .mob_nav .gnb {
        padding: 40px;
    }
    #header .wrap .util .mob_nav .close {
        width: 30px;
        top: 60px;
        right: 40px;
    }
}
@media all and (max-width: 500px) {
    #header .wrap .util .mob_nav {
        min-width: unset;
        width: 100vw;
    }
}
@media all and (max-width: 400px) {
    #header .wrap .util .mob_nav .gnb > li {
        font-size: 28px;
    }
    #header .wrap .util .mob_nav .gnb > li .depth02 > li a {
        font-size: 18px;
    }
    #header .wrap .util .open {
        width: 30px;
    }
    #header .wrap h1 a img {
        width: 135px;
    }
}